.custom-badge {
  display: inline-flex;
  height: 24px;
  padding: 4px 12px 4px 8px;
  align-items: center;
  gap: 10px;
  border-radius: 16px;
  background-color: #e1eefd;
  font-size: 12px;
  font-weight: 400;
  line-height: 20px;
  width: fit-content;
}
